<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="content">
  <div id="title">
    <%= yield :title %>
  </div>
  <div id="main">
    <canvas id="canvas" width="<%= @canvas_width %>" height="<%= @canvas_height %>">
      Your browser does not support the canvas element.
    </canvas>
    <%= yield %>
  </div>
</div>
</body>
</html>
